.header {
  --smallHeight: calc(var(--header-height) / 1.7);

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  height: var(--header-height);
  padding-inline: var(--padding-inline);
  padding-block: 0;
  color: var(--color-accent);
  transform: translateY(-100%);
  transition: height 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  body.loaded & {
    animation: header--appearing 0.5s var(--header-appearing-delay) both;
  }

  &--small {
    height: var(--smallHeight);
  }

  @include desktop-s {
    --smallHeight: calc(var(--header-height) / 1.5);

    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  @include tablet-l {
    --smallHeight: var(--header-height);

    flex-direction: column;
    gap: 0;
    overflow-y: clip;

    &.open {
      height: 100dvh;
      overscroll-behavior: none;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &.open &__menu {
      display: block;
    }

    &:not(.open) &__menu {
      animation: hide 1ms 0.5s both;

      @keyframes hide {
        from {
          display: block;
        }
        to {
          display: none;
        }
      }
    }
  }

  &__outer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    @include desktop-s {
      padding-inline: 0;
    }
  }

  &__logo-outer {
    @include tablet-l {
      display: flex;
      align-self: stretch;
      flex-shrink: 0;
      justify-content: space-between;
      align-items: center;
      height: var(--header-height);
    }
  }

  &__menu {
    &-outer {
      @include tablet-l {
        flex-shrink: 0; 
        height: calc(100dvh - var(--header-height) - 1px);
        display: flex;
        align-items: center;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 1em;

      @include tablet-l {
        flex-direction: column;
        gap: 12px;
      }
    }

    &-link {
      padding: 1em 0.9em;
      position: relative;
      z-index: 100;
      transition: color 0.2s;

      &::before {
        position: absolute;
        display: block;
        content: "";
        bottom: 0.4em;
        left: 50%;
        translate: calc(-50% + 0.05em);
        width: 0;
        height: 2px;
        background-color: var(--color-accent);
        border-radius: 5px;
        transition: width 0.3s, height 0.2s;
        z-index: -1;
      }

      @include hover {
        &::before {
          width: calc(100% - 0.7em);
        }
      }
    }
  }

  &__burger {
    &-button {
      display: none;
      transition-duration: 0.25s;

      @include desktop-l {
        display: grid;
        align-content: center;
        justify-content: center;
        gap: 5px;
        width: 48px;
        height: 48px;
      }

      &.open {
        & .header__burger-line:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }

        & .header__burger-line:nth-child(2) {
          opacity: 0;
        }

        & .header__burger-line:nth-child(3) {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
    }

    &-line {
      height: 2px;
      width: 20px;
      border-radius: 15px;
      background-color: var(--color-accent);
      transition-duration: 0.25s;
    }
  }

  &__theme-switcher {
    appearance: none;
    display: none;

    &-outer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90px;
      height: 46px;
      box-shadow: var(--box-shadow-4);
      border-radius: 24px;
      border: 1.5px solid transparent;
      cursor: pointer;
      transition-duration: 0.25s;

      @include hover {
        border-color: var(--color-accent);
      }
    }

    &-slider {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 40px;
      height: 40px;
      background-color: var(--color-accent);
      box-shadow: var(--box-shadow-4);
      border-radius: 50%;
      transition-duration: 0.25s;

      &.checked {
        translate: 44px;
      }
    }
  }

  @keyframes header--appearing {
    to {
      transform: translateY(0);
    }
  }
}
