.logo {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-high);
  display: flex;
  position: relative;
  padding-inline: 1em;

  &::before,
  &::after {
    display: block;
    position: absolute;
  }

  &::before {
    content: attr(data-before-1);
    animation: logo--before-animation 15s
      calc(var(--header-appearing-delay) + var(--header-logo-delay)) infinite
      linear;
    left: 0.8em;
    transform: translateX(-100%);
  }

  &::after {
    content: attr(data-after-1);
    animation: logo--after-animation 15s
      calc(var(--header-appearing-delay) + var(--header-logo-delay)) infinite
      linear;
    right: 0.8em;
    transform: translateX(100%);
  }
}

@keyframes logo--before-animation {
  from {
    content: attr(data-before-1);
    opacity: 1;
  }
  4% {
    content: attr(data-before-1);
    opacity: 0;
  }
  5% {
    content: attr(data-before-2);
    opacity: 0;
  }
  10% {
    content: attr(data-before-2);
    opacity: 1;
  }
  20% {
    content: attr(data-before-2);
    opacity: 1;
  }
  24% {
    content: attr(data-before-2);
    opacity: 0;
  }
  25% {
    content: attr(data-before-3);
    opacity: 0;
  }
  30% {
    content: attr(data-before-3);
    opacity: 1;
  }
  40% {
    content: attr(data-before-3);
    opacity: 1;
  }
  44% {
    content: attr(data-before-3);
    opacity: 0;
  }
  45% {
    content: attr(data-before-4);
    opacity: 0;
  }
  50% {
    content: attr(data-before-4);
    opacity: 1;
  }
  60% {
    content: attr(data-before-4);
    opacity: 1;
  }
  64% {
    content: attr(data-before-4);
    opacity: 0;
  }
  65% {
    content: attr(data-before-5);
    opacity: 0;
  }
  70% {
    content: attr(data-before-5);
    opacity: 1;
  }
  80% {
    content: attr(data-before-5);
    opacity: 1;
  }
  84% {
    content: attr(data-before-5);
    opacity: 0;
  }
  85% {
    content: attr(data-before-1);
    opacity: 0;
  }
  90% {
    content: attr(data-before-1);
    opacity: 1;
  }
  to {
    content: attr(data-before-1);
    opacity: 1;
  }
}

@keyframes logo--after-animation {
  from {
    content: attr(data-after-1);
    opacity: 1;
  }
  4% {
    content: attr(data-after-1);
    opacity: 0;
  }
  5% {
    content: attr(data-after-2);
    opacity: 0;
  }
  10% {
    content: attr(data-after-2);
    opacity: 1;
  }
  20% {
    content: attr(data-after-2);
    opacity: 1;
  }
  24% {
    content: attr(data-after-2);
    opacity: 0;
  }
  25% {
    content: attr(data-after-3);
    opacity: 0;
  }
  30% {
    content: attr(data-after-3);
    opacity: 1;
  }
  40% {
    content: attr(data-after-3);
    opacity: 1;
  }
  44% {
    content: attr(data-after-3);
    opacity: 0;
  }
  45% {
    content: attr(data-after-4);
    opacity: 0;
  }
  50% {
    content: attr(data-after-4);
    opacity: 1;
  }
  60% {
    content: attr(data-after-4);
    opacity: 1;
  }
  64% {
    content: attr(data-after-4);
    opacity: 0;
  }
  65% {
    content: attr(data-after-5);
    opacity: 0;
  }
  70% {
    content: attr(data-after-5);
    opacity: 1;
  }
  80% {
    content: attr(data-after-5);
    opacity: 1;
  }
  84% {
    content: attr(data-after-5);
    opacity: 0;
  }
  85% {
    content: attr(data-after-1);
    opacity: 0;
  }
  90% {
    content: attr(data-after-1);
    opacity: 1;
  }
  to {
    content: attr(data-after-1);
    opacity: 1;
  }
}
