html {
  scroll-padding-block: var(--header-height);
}

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  --backgroundParallax: 0;

  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--color-dark);
  padding-top: var(--header-height);
  background-color: var(--color-light-alt);

  &::before {
    transform: translateZ(0) rotate(180deg) translateY(var(--backgroundParallax));
    will-change: transform;
    content: "";
    display: block;
    position: fixed;
    inset: 0;
    height: 110lvh;
    z-index: -1;
    background: url("../images/background.jpg") center no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    filter: grayscale(0.5);
    opacity: 0.1;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-high);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

:focus-visible {
  outline: 4px dashed black;
  outline-offset: 4px;
  transition-duration: 0s !important;
}
