html {
  scroll-padding-block: var(--header-height);

  &.is-lock {
    overflow: hidden;
  }
}

body {
  overflow-x: hidden;
}

[data-theme="dark"] {
  --color-light: #140e33;
  --color-light-trans: #191820;
  --color-light-alt: #14141a;

  --color-dark: #ffffff;
  --color-dark-trans: #3b3b3b53;


  --box-shadow-4: -4px -4px 8px hsla(0, 0%, 15%, 0.903),
    8px 8px 12px hsla(0, 0%, 7%, 0.825);
}

[data-theme="light"] {
  --scrollbar-bg: #f0f0f0;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #666;
}

[data-theme="dark"] {
  --scrollbar-bg: #2a2a2a;
  --scrollbar-thumb: #555;
  --scrollbar-thumb-hover: #777;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

body {
  --backgroundParallax: 0;

  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--color-dark);
  padding-top: var(--header-height);
  background-color: var(--color-light-alt);

  &::before {
    transform: translateZ(0) rotate(180deg) translateY(var(--backgroundParallax));
    will-change: transform;
    content: "";
    display: block;
    position: fixed;
    inset: 0;
    height: 110lvh;
    z-index: -1;
    background: url("../images/background.jpg") center no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    filter: grayscale(0.5);
    opacity: 0.1;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-high);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

:focus-visible {
  outline: 4px dashed var(--color-dark);
  outline-offset: 4px;
  transition-duration: 0s !important;
}
