.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  line-height: 1.5;
  max-width: calc(1600px - var(--padding-inline) * 2);
  width: 100%;
  margin-inline: auto;

  &__outer {
    padding-inline: var(--padding-inline);
  }

  &:not(:first-child) {
    padding-block: calc(var(--header-height) / 2);
  }

  &__header {
    padding-bottom: calc(var(--header-height) / 3);
  }
}

.highlighted-text {
  color: var(--color-accent);
}

.glass-block {
  background-color: var(--color-light-trans);
  box-shadow: var(--glass-shadow);
  border: var(--glass-border);
  border-radius: 30px;
  padding: 20px 25px;
  white-space: wrap;
}

.glass-block + .glass-block {
  margin-top: 50px;
}

.list {
  &__item {
    position: relative;
    padding-left: 2em;

    &::before {
      content: "";
      display: block;
      width: 0.7em;
      aspect-ratio: 1;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.2em;
      background: var(--color-accent);
    }

    &:not(:first-child):not(:last-child) {
      margin-block: 1em;
    }
  }
}
